.header {
    z-index: -1;
    display: block;
    width: 100%;
    height: 19vh;
    border-bottom: 1px solid rgb(235,235,235);
}
.header-1layer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2vh 1vh 0 1vh;
}
.header-searchBox {
    display: flex;
    width: 800px;
    height: 6.5vh;
    margin: 20px auto 20px auto;
    line-height: 20px;
    border-radius: 50px;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07);
}
.header-searchBox > div {
    padding: 1vh 0 0 7px;
}
.header-searchBox > div > div > p:nth-child(1) {
    margin-left: 10px;
    font-size: 13px;
}
.header-searchBox > div > div > p:nth-child(2) {
    color: gray;
    margin-left: 10px;
    font-size: 15px;
}
.header-searchBox > div:nth-child(1) {
    width: 30%;
}
.header-searchBox > div:nth-child(n+2) {
    width: 15%;
}
.header-searchBox > div > .left-block {
    height: 4vh;
    margin-top: 3px;
    border-left: 1px solid rgba(195,195,195, 0.5);
}
.header-searchBox > div:hover {
    background-color: rgba(195,195,195, 0.5);
    border-radius: 50px;
    border-left: 0;
}
.header-searchBox > div > .left-block:hover {
    border-left: 0;
}
.searchIcon-background{
    border: 0 !important;
    width: 2.5em !important;
    margin: 7px 7px 0 0;
    height: 2.5em !important;
    border-radius: 50px;
    background-color: rgb(235, 76, 96);
    text-align: center;
    align-content: center;
}
.header-searchIcon {
    width: 1.3em !important;
    height: 1.3em !important;
    color: white;
}
.header-right {
    width: 38vh;
    line-height: 45px;
    justify-content: space-between;
    display: flex;
    margin-right: 2vh;
}
.header-right > :nth-child(2) {
    margin-top: 9px;
}
.header-userList {
    width: 80px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 40px;
    align-content: center;
}
.header-userList > svg:nth-child(1){
    margin: 7px 0 6px 7px;
}
.header-userList > svg:nth-child(2){
    margin: 2px 0 0 12px;
    width: 1.5em !important;
    height: 1.5em !important;
}
.guestUser {
    position: absolute;
    z-index: 1;
    top: 67px;
    right: 0;
    width: 25vh;
    height: 21vh;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 13px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07);
}
.guestUser > p {
    padding:0 0 0 6px;
    line-height: 40px;
    width: 100%;
    height: 4vh;
    margin-top: 8px;
}
.guestUser > div {
    margin-top: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.guestUser > p:hover {
    background-color: rgb(225,225,225);
    transition: 1s ease-out;
    opacity : 0.3;
}
.header-userList > img {
    width: 2em;
    height: 2em;
    border-radius: 30px;
    margin: 0 0 1px 10px;
}
.loginUser {
    position: absolute;
    z-index: 1;
    top: 67px;
    right: 0;
    width: 25vh;
    height: 26vh;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 13px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07);
}
.loginUser > p {
    padding:0 0 0 6px;
    line-height: 40px;
    width: 100%;
    height: 4vh;
    margin-top: 8px;
}
.loginUser > div {
    margin-top: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.loginUser > p:hover {
    background-color: rgb(225,225,225);
    transition: 1s ease-out;
    opacity : 0.3;
}
@media (max-width: 830px) {
    .header {
        height: 7vh;
        padding-top: 2vh;
    }
    .mini-searchBox {
        margin: auto;
        width: 90vw;
        display: flex;
        border-radius: 30px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.07),
        0 2px 4px rgba(0,0,0,0.07),
        0 4px 8px rgba(0,0,0,0.07),
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07);
        height: 4vh;
        padding: 0.7vh 0 0 1vh;
    }
    .mini-searchBox > svg:nth-child(1){
        width: 1.5em;
        height: 1.5em;
    }
    .mini-searchBox > p:nth-child(2){
        font-size: 18px;
        margin-left: 15px;
        line-height: 35px;
        transition: 0.5s ease-out;
    }
}
@media (max-width: 230px) {
    .mini-searchBox > p:nth-child(2){
        font-size: 15px;
        transition: 0.5s ease-out;
    }
}