.header {
    z-index: -1;
    display: block;
    width: 100%;
    height: 17vh;
    border-bottom: 1px solid rgb(235,235,235);
}
.header-1layer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2vh 1vh 0 1vh;
}
.header-searchBox {
    display: flex;
    width: 80vh;
    height: 4vh;
    margin: 20px auto 20px auto;
    padding: 1vh 1vh 1vh 2vh;
    line-height: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07);
}
.header-searchBox > div > p:nth-child(1) {
    font-size: 13px;
}
.header-searchBox > div > p:nth-child(2) {
    color: gray;
    font-size: 15px;
}
.header-searchBox > div:nth-child(1) {
    width: 30%;
}
.header-searchBox > div:nth-child(n+2) {
    width: 15%;
    padding-left: 10px;
    height: 4vh;
    border-left: 1px solid gray;
}
.header-searchBox > div:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 50px;
    border-left: 0;
}
.searchIcon-background{
    border: 0 !important;
    padding-left: 0 !important;
    width: 2.5em !important;
    height: 2.5em !important;
    border-radius: 50px;
    background-color: rgb(235, 76, 96);
    text-align: center;
    align-content: center;
}
.header-searchIcon {
    margin-top: 5px;
    width: 1.1em !important;
    height: 1.1em !important;
    color: white;
}
.header-right {
    width: 38vh;
    line-height: 45px;
    justify-content: space-between;
    display: flex;
    margin-right: 2vh;
}
.header-right > :nth-child(2) {
    margin-top: 9px;
}
.header-userList {
    width: 8vh;
    height: 40px;
    border: 1px solid gray;
    border-radius: 40px;
    align-content: center;
}
.header-userList > svg:nth-child(1){
    margin: 7px 0 6px 7px;
}
.header-userList > svg:nth-child(2){
    margin: 2px 0 0 12px;
    width: 1.5em !important;
    height: 1.5em !important;
}
.languageSelector-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.3);
    z-index: 1;
    border: 1px solid gainsboro;
    justify-items: center;
}
.languageSelector-modal > div {
    position: absolute;
    top: -34px;
    right: 20px;
    width: 50vh;
    height: 25vh;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    margin-top: 10vh;
    padding: 2vh 1vh 0 1vh;
    display: inline-block;
    justify-content: space-between;
}
.languageSelector-modal > div > div {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.languageSelector-modal > div > button {
    margin-top: 1vh;
    width: 100%;
    height: 6vh;
    z-index: 1;
    text-align: left;
    padding: 5px 5px 5px 0;
}
.guestUser {
    position: absolute;
    z-index: 1;
    top: 67px;
    right: 0;
    width: 25vh;
    height: 21vh;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 13px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07);
}
.guestUser > p {
    padding:0 0 0 6px;
    line-height: 40px;
    width: 100%;
    height: 4vh;
    margin-top: 8px;
}
.guestUser > div {
    margin-top: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.guestUser > p:hover {
    background-color: rgb(225,225,225);
    transition: 1s ease-out;
    opacity : 0.3;
}
.header-userList > img {
    width: 2em;
    height: 2em;
    border-radius: 30px;
    margin: 0 0 1px 10px;
}
.loginUser {
    position: absolute;
    z-index: 1;
    top: 67px;
    right: 0;
    width: 25vh;
    height: 26vh;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 13px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07);
}
.loginUser > p {
    padding:0 0 0 6px;
    line-height: 40px;
    width: 100%;
    height: 4vh;
    margin-top: 8px;
}
.loginUser > div {
    margin-top: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.loginUser > p:hover {
    background-color: rgb(225,225,225);
    transition: 1s ease-out;
    opacity : 0.3;
}