.houseDetailHeader{
    border-bottom: 1px solid rgb(230, 230, 230);
}
.houseDetailHeader-body {
    width: 94% !important;
    justify-content: space-between;
}
.houseDetailHeader-body > a {
    display: flex;
    color: black;
    text-decoration-line: none;
}
.houseDetailHeader-body > a > p {
    margin-left: 10px;
    line-height: 30px;
}
.houseDetailHeader-body > div:nth-child(3) > svg {
    margin-left: 20px;
}