.houseDetailHeader {
    border-bottom: 1px solid rgb(230, 230, 230);
}
.houseDetailHeader-body {
    width: 1120px;
    margin: 0 auto 0 auto !important;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}
.header-right {
    margin-right: 0 !important;
}
@media (max-width: 1300px) {
    .houseDetailHeader {
        width: 86%;
    }
}
@media (max-width: 1128px) {
    .houseDetailHeader {
        width: 90%;
    }
}