.houseDetailHeader{
    border-bottom: 1px solid rgb(230, 230, 230);
    position: sticky;
    top: 0;
    left: 0;
}
.houseDetailHeader-body-m {
    width: 94%;
    padding: 20px 0 15px 0;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.houseDetailHeader-body-m > a {
    display: flex;
    color: black;
    text-decoration-line: none;
}
.houseDetailHeader-body-m > a > p {
    margin-left: 10px;
    line-height: 30px;
}
.houseDetailHeader-body-m > div:nth-child(3) > svg {
    margin-left: 20px;
}