.houseDetailHeader {
    display: flex;
    margin: 0 auto 0 auto !important;
    padding: 3vh 7vw 3vh 7vw;
    justify-content: space-between;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.header-right {
    margin-right: 0 !important;
}
@media (max-width: 1300px) {
    .houseDetailHeader {
        width: 86%;
    }
}
@media (max-width: 1128px) {
    .houseDetailHeader {
        width: 90%;
    }
}