.detailBody{
    width: 86%;
    padding: 3vh 7vw 3vh 7vw;
}
.detailBody-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}
.detailBody-title > div {
    display: flex;
}
.detailBody-title > div > div:nth-child(1) {
    margin-right: 5px;
}
.detailBody-title > div > div {
    display: flex;
    line-height: 23px;
    width: 5vw;
    height: 3vh;
    text-align: center;
}
.detailBody-title > div > div > p {
    display: flex;
    color: rgb(80, 80, 80);
    line-height: 23px;
    margin: auto auto auto 0;
}
.detailBody-title > div > div > svg {
    margin: auto 0 auto auto;
    color: rgb(80, 80, 80);
    width: 0.9em !important;
    height: 0.9em !important;
}
.detailBody-title > div > div:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}
.detailBody-title > p {
    font-weight: bold;
    font-size: 25px;
}
.detailBody-imagesTable {
    width: 100%;
    height: 52vh;
    display: flex;
}
.detailBody-imagesTable > div:nth-child(3) {
    margin-right: 0 !important;
}
.detailBody-imagesTable > div:nth-child(3) > a >  div:nth-child(1) {
    border-radius: 0 20px 0 0;
}
.detailBody-imagesTable > div:nth-child(3) > a > div:nth-child(3) {
    border-radius: 0 0 20px 0;
}
.detailBody-imagesTable > div:nth-child(3) > a:nth-child(1) > img {
    border-radius: 0 20px 0 0;
}
.detailBody-imagesTable > div:nth-child(3) > a:nth-child(2) > img {
    border-radius: 0 0 20px 0;
}
.imagesTable-first {
    margin-right: 1%;
    width: 50%;
    height: 100%;
}
.imagesTable-first > a > div {
    position: absolute;
    border-radius: 20px 0 0 20px;
    width: 42.1vw;
    height: 52vh;
}
.imagesTable-first > a > img{
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}
.imagesTable-col {
    margin-right: 1%;
    width: 25%;
    height: 100%;
}
.imagesTable-col > a > div{
    position: absolute;
    width: 21vw;
    height: 25.4vh;
}
.imagesTable-col > a > img{
    width: 21vw;
    height: 25.4vh;
    margin-bottom: 0.8vh;
}
.imagesTable-col > a > div{
    margin-bottom: 0.8vh;
}
.divImage-hover {
    position: sticky;
    z-index: 1;
}
.divImage-hover > img{
    position: sticky;
    z-index: 0;
}
.divImage-hover:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.shareModal_back {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}
.shareModal {
    margin: 20vh auto 0 auto;
    width: 40vw;
    height: 30vh;
    background-color: white;
    border-radius: 20px;
    padding: 2vh 1vw 0 1vw;
}
.shareModal > p {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
}
.shareModal > div {
    margin-top: 15px;
    display: flex;
}
.shareModal > div > img {
    border-radius: 10px;
    width: 8vh;
    height: 8vh;
}
.shareModal > div:nth-child(3) > p {
    margin: 10px 0 0 20px;
    font-size: 18px;
}
.shareModal > div:nth-child(4) {
    z-index: 1;
    margin-top: 20px !important;
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 0 10px 0;
    border-radius: 10px;
}
.shareModal > div:nth-child(4) > svg {
    margin-left: auto;
}
.shareModal > div:nth-child(4) > p {
    z-index: 2;
    line-height: 25px;
    margin: 0 auto 0 5px;
}
.shareModal > div:nth-child(4):hover {
    background-color: rgb(190, 190, 190);
}
.copyCompleted {
    position: absolute;
    top: 90vh;
    left: 45vw;
    width: 10vw;
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    background-color: white;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 10px;
}
.copyCompleted > p {
    font-size: 14px;
    line-height: 2.5vh;
    margin-left: auto;
    margin-right: 1vw;
}
.copyCompleted > svg {
    color: green;
    margin-right: auto;
}
.detailBody-main {
    width: 100%;
    display: flex;
}
.detailBody-main > div:nth-child(1) {
    width: 55%;
    margin-right: 10%;
}
.detailBody-main > div:nth-child(2) {
    width: 35%;
}