.main-body {
    padding: 5vh 3.5vw 2vh 3.5vw;
}
.card-grid {
    display: grid;
    grid-template-columns: 17vw 17vw 17vw 17vw 17vw;
    gap: 2vh 2vw;
}
.main-seeMore {
    width: 100%;
    text-align: center;
}

@media (max-width: 1477px) {
    .main-body {
        padding: 5vh 5vw 2vh 5vw;
    }
    .card-grid {
        grid-template-columns: 20vw 20vw 20vw 20vw;
        gap: 6vh 3.5vw;
    }
}
@media (max-width: 1127px) {
    .main-body {
        padding: 5vh 6vw 2vh 6vw;
    }
    .card-grid {
        grid-template-columns: 27vw 27vw 27vw;
        gap: 8vh 3.5vw;
    }
}
@media (max-width: 950px) {
    .main-body {
        padding: 5vh 7vw 2vh 7vw;
    }
    .card-grid {
        grid-template-columns: 41vw 41vw;
        grid-template-rows: 47vw;
        gap: 3vh 3.5vw;
    }
}
@media (max-width: 550px) {
    .main-body {
        padding: 5vh 5vw 2vh 5vw;
    }
    .card-grid {
        grid-template-columns: 90vw;
        grid-template-rows: 98vw;
        gap: 7vh 3.5vw;
    }
}