.card-f {
    width: 20%;
    height: 24%;
    overflow: hidden;
    border-radius: 20px;
}
.card-imageBox{
    display: flex;
}
.card-imageBox > div{
    width: 100%;
    height: 100%;
}
.card-imageBox > div > img{
    width: 20vw;
    height: 22vh;
    z-index: 0;
}
.card-slideSVG{
    display: flex;
}
.card-slideSVG > #images-before{
    transform: rotate(180deg);
}
.card-eventItem {
    position: relative;
    top: -22vh;
    left: 0;
    padding: 1vh 1vh 0 1vh;
}
.card-eventItem > div{
    width: 18vw;
    justify-content: space-between;
}
.card-eventItem > .card-likeSVG > svg:nth-child(2) {
    color: white;
}
.card-eventItem > .card-slideSVG > svg{
    background-color: rgba(255,255,255, 0.5);
    color: black;
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 50px;
}