.guestHouseCard {
    width: 100%;
    height: 100%;
}
.card-f {
    overflow: hidden;
    border-radius: 20px;
}
.card-imageBox{
    display: flex;
}
.card-imageBox > div{
    width: 100%;
    height: 100%;
}
.card-imageBox > div > img{
    width: 20vw;
    height: 25vh;
    z-index: 0;
}
.card-slideSVG{
    display: flex;
}
.card-slideSVG > div > #images-before{
    transform: rotate(180deg);
}
.card-eventItem {
    position: relative;
    top: -25vh;
    left: 0;
    width: 20vw;
    height: 22vh;
    padding: 1vh 1vh 0 1vh;
}
.card-eventItem > div > div{
    margin-top: 5vh;
    width: 16vw;
    justify-content: space-between;
}
.card-eventItem > .card-likeSVG > svg:nth-child(2) {
    color: white;
    width: 0.9em;
    height: 0.9em;
    transition: 0.5s ease-out;
}
.card-slideSVG > div >  svg{
    color: black;
}
.card-likeSVG {
    width: 16vw;
    display: flex;
    justify-content: space-between;
}
.card-slideSVG > .card-svgBackground {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 50px;
    width: 1.8em !important;
    align-content: center;
    height: 1.8em !important;
    padding: 0.2em 0 0 0.2em;
    transition: 0.5s ease-out;
}
.card-slideSVG > .card-svgBackground:hover {
    background-color: rgb(255,255,255);
    width: 1.9em !important;
    height: 1.9em !important;
    padding: 0.3em 0 0 0.3em;
    transition: 0.5s ease-out;
}
.card-likeSVG > #card-favoriteBorderIcon:hover {
    width: 1.1em;
    height: 1.1em;
    transition: 0.3s ease-out;
}
.card-likeSVG > #card-favoriteIcon {
    color: rgb(235, 76, 96);
}
.card-likeSVG > #card-favoriteIcon:hover {
    width: 1.1em;
    height: 1.1em;
    transition: 0.3s ease-out;
}