.languageSelector-modal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    z-index: -1;
    border: 1px solid gainsboro;
    justify-items: center;
}
.languageSelector-modal > div{
    width: 50%;
    height: 25vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 10vh;
    padding: 2vh 1vh 0 1vh;
    display: inline-block;
    justify-content: space-between;
}
.languageSelector-modal > div > div{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.languageSelector-modal > div > button{
    margin-top: 1vh;
    width: 100%;
    height: 6vh;
    z-index: 1;
    text-align: left;
    padding: 5px 5px 5px 0;
}